<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="ae76548f-62cf-4c5a-be31-071647e797f9" name="https://pokeapi.co Test Suite">
  <con:settings id="954a54cf-46e8-4c53-9681-167353eae593">
    <con:setting id="ae76548f-62cf-4c5a-be31-071647e797f9fileName">https%3A%2F%2Fpokeapi.co-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d44ddad8-9168-4b28-acb3-f5ca870102f3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d1b8412f-f25e-434b-981e-1a2c68f298fb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
