<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="a3e92c05-2775-466c-844f-147b61565bc3" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://pokeapi.co" type="rest">
  <con:settings id="820a2c61-1520-4e96-8870-abe98738dcdd">
    <con:setting id="a3e92c05-2775-466c-844f-147b61565bc3fileName">https%3A%2F%2Fpokeapi.co</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8091/</con:endpoint>
    <con:endpoint>https://pokeapi.co</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="d44ddad8-9168-4b28-acb3-f5ca870102f3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d1b8412f-f25e-434b-981e-1a2c68f298fb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
