<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" port="8092" path="/notapokemon" host="localhost" name="https://pokeapi.co Virtual Service 2" routeModeEnabled="true" routeEndpoint="" id="5608e72a-bbc7-4fed-8330-8c60cd773068" addUnmatchedOperation="true">
  <con:settings id="fdb3d4ae-ad97-4ca6-86bf-14e3d5a3f863">
    <con:setting id="5608e72a-bbc7-4fed-8330-8c60cd773068fileName">https%3A%2F%2Fpokeapi.co-Virtual-Service-2</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
