<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" id="784f286e-b17c-40f9-b10a-dab648e9f093" port="8092" path="/" host="localhost" name="https://pokeapi.co Virtual Service" routeModeEnabled="true" routeEndpoint="https://pokeapi.co">
  <con:settings id="e0189136-35d6-4d87-8136-dc75ad3cb101">
    <con:setting id="784f286e-b17c-40f9-b10a-dab648e9f093fileName">https%3A%2F%2Fpokeapi.co-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
